body {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
.button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}

.is-toggled {
  background-color: rgb(198, 197, 197);
  color: black;
}

